<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ikujo.mapper.ChattingMapper">
	<insert id="ChattingInsert" parameterType="ChattingDTO">
		insert into Chatting values(c_seq.nextval,sysdate,#{toName},#{fromName},#{messeges})
	</insert>
	
	<select id="ChattingAll" parameterType="ChattingDTO" resultType="ChattingDTO">
	select * from chatting where toName=#{toName} and  fromName =#{fromName} or  toName=#{fromName} and  fromName =#{toName} order by c_date asc
	</select>
</mapper>